body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #D1E8E2;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color:#116466;
  color:#D9B08c;
  border-radius: 0;
  border-bottom: 10px solid #FFCB9A;
  font-family: 'Fjalla One', sans-serif;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  width: 85%;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 2px solid #FFCB9A;;
}

.hour {
  background-color: #D1E8E2;
  color: #116466;
  border-top: 1px dashed #FFCB9A;
  font-size: 20px;
  text-align: left;
}

.past {
  background-color: #d3d3d3;
  color: #2C3531;
}

.present {
  background-color: #ff6961;
  color: #2C3531;
}

.future {
  background-color: #77dd77;
  color: #2C3531;
}

.saveBtn {
  border-left: 1px solid #2C3531;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #116466;
  color: #D1E8E2;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
